#miTable {
  /* font-family: "Times New Roman", Times, serif; */
  border-collapse: collapse;
  width: 100%;
}

#miTable td,
#miTable th {
  border: 1px solid #ddd;
  padding: 3px;

}


#miTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#miTable tr:hover {
  background-color: #ddd;
}

#miTable th {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: left;
  background-color: Grey;
  color: white;
  text-align: right;

}

#miTable td:first-child {
  width: 100px
}

#miTable td:first-child+td {
  width: 150px
}

#miTable td:first-child+td+td {
  width: 300px
}

#miTable th:first-child {
  width: 100px
}

#miTable th:first-child+td {
  width: 150px
}

#miTable th:first-child+td+td {
  width: 300px
}


thead {
  display: block;
  background-color: #bfc2c4;
  border: 1px solid #333;
  padding: 3px;
  border-radius: 5px;

}


tbody {
  display: block;
  background-color: #eaedef;
  border: 1px solid #333;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100px;
  padding: 3px;
  /*color:blue;*/
  border-radius: 5px;

}


tfoot {
  display: block;
  background-color: #bfc2c4;
  border: 1px solid #333;
  padding: 3px;
  border-radius: 5px;

}


table {
  border-collapse: collapse;
  /*width: 0%;*/
  /*margin-bottom : .5em;*/
  /*table-layout: fixed;*/
  text-align: center;

}

th, td {
  border: solid 1px;
  padding: 0
}

td:first-child {
  width: 100px
}

td:first-child+td {
  width: 150px
}

td:first-child+td+td {
  width: 300px
}