#theadAlunos th:nth-child(1) {width:100px;}
#tbodyAlunos td:nth-child(1) {width:100px;}
#tfootAlunos td:nth-child(1) {width:100px;}
#theadAlunos th:nth-child(2) {width:150px;}
#tbodyAlunos td:nth-child(2) {width:150px;}
#tfootAlunos td:nth-child(2) {width:150px;}
#theadAlunos th:nth-child(3) {width:150px;}
#tbodyAlunos td:nth-child(3) {width:150px;}
#tfootAlunos td:nth-child(3) {width:150px;}
#theadAlunos th:nth-child(4) {width:120px;}
#tbodyAlunos td:nth-child(4) {width:120px;}
#tfootAlunos td:nth-child(4) {width:120px;}
