@font-face {
    font-family : octicons-link;
    src :  url (data:font/woff;charset=utf-8;base64 ,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZn BnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAASgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAAAACABiATBt YXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV 6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WY cJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gy Tt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl 52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCA wMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob 2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM /byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNu oCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoa HeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S 9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA 8AAQAAAAAAAAAAAAAAAAAAAAAA ==)formato ( 'woff' );
  }
  
  html {
    largura :  880 px ;
    preenchimento :  45 px ;
    margem superior :  25 px ;
    margem inferior :  125 px ;
    borda :  1 px sólido #ddd ; _
    raio da borda :  3 px ;
  }
  
  corpo {
    -ms-text-size-adjust :  100 % ;
    -webkit-text-size-adjust :  100 % ;
    altura da linha :  1,5 ;
    cor :  # 333 ;
    font-family : -apple-system , BlinkMacSystemFont ,  "Segoe UI" , Roboto , Helvetica , Arial , sans-serif ,  "Apple Color Emoji" ,  "Segoe UI Emoji" ,  "Segoe UI Symbol" ;
    tamanho da fonte :  16 px ;
    altura da linha :  1,5 ;
    quebra de linha : quebra de palavra;
  }
  
  corpo . pl-c {
    cor :  # 969896 ;
  }
  
  corpo . pl-c1 ,
  corpo . pl-s . pl-v {
    cor :  # 0086b3 ;
  }
  
  corpo . pl-e ,
  corpo . pl-en {
    cor :  # 795da3 ;
  }
  
  corpo . pl-smi ,
  corpo . pl-s . pl-s1 {
    cor :  # 333 ;
  }
  
  corpo . pl-ent {
    cor :  # 63a35c ;
  }
  
  corpo . pl-k {
    cor :  # a71d5d ;
  }
  
  corpo . pl-s ,
  corpo . pl-pds ,
  corpo . pl-s . pl-pse . pl-s1 ,
  corpo . pl-sr ,
  corpo . pl-sr . pl-cce ,
  corpo . pl-sr . pl-sre ,
  corpo . pl-sr . pl-sra {
    cor :  # 183691 ;
  }
  
  corpo . pl-v {
    cor :  # ed6a43 ;
  }
  
  corpo . pl-id {
    cor :  # b52a1d ;
  }
  
  corpo . pl-ii {
    cor :  # f8f8f8 ;
    cor de fundo :  # b52a1d ;
  }
  
  corpo . pl-sr . pl-ce {
    peso da fonte : negrito;
    cor :  # 63a35c ;
  }
  
  corpo . pl-ml {
    cor :  # 693a17 ;
  }
  
  corpo . pl-mh ,
  corpo . pl-mh . pl-en ,
  corpo . pl-ms {
    peso da fonte : negrito;
    cor :  # 1d3e81 ;
  }
  
  corpo . pl-mq {
    cor :  # 008080 ;
  }
  
  corpo . pl-mi {
    estilo da fonte : itálico;
    cor :  # 333 ;
  }
  
  corpo . pl-mb {
    peso da fonte : negrito;
    cor :  # 333 ;
  }
  
  corpo . pl-md {
    cor :  # bd2c00 ;
    cor de fundo :  # ffecec ;
  }
  
  corpo . pl-mi1 {
    cor :  # 55a532 ;
    cor de fundo :  # eaffea ;
  }
  
  corpo . pl-mdr {
    peso da fonte : negrito;
    cor :  # 795da3 ;
  }
  
  corpo . pl-mo {
    cor :  # 1d3e81 ;
  }
  
  corpo . octicon {
    exibição : bloco em linha;
    alinhamento vertical : topo do texto;
    preenchimento : coratual;
  }
  
  corpo  um {
    cor de fundo : transparente;
    -webkit-text-decoration-skip : objetos;
  }
  
  corpo  a : ativo ,
  corpo  a : passe o mouse {
    largura do contorno :  0 ;
  }
  
  corpo  forte {
    peso da fonte : herdar;
  }
  
  corpo  forte {
    peso da fonte : mais ousado;
  }
  
  corpo  h1 {
    tamanho da fonte :  2 em ;
    margem :  0,67 em  0 ;
  }
  
   imagem corporal {
    estilo de borda : nenhum;
  }
  
  corpo  svg : não ( : root ) {
    estouro : oculto;
  }
  
   código do corpo ,
  corpo  kbd ,
  corpo  pré {
    font-family : monospace , monospace;
    tamanho da fonte :  1 em ;
  }
  
   hora corporal {
    tamanho da caixa : caixa de conteúdo;
    altura :  0 ;
    estouro : visível;
  }
  
   entrada do corpo {
    fonte : herdar;
    margem :  0 ;
  }
  
   entrada do corpo {
    estouro : visível;
  }
  
  corpo [ tipo = "caixa de seleção" ] {
    tamanho da caixa : caixa de borda;
    preenchimento :  0 ;
  }
  
  corpo  * {
    tamanho da caixa : caixa de borda;
  }
  
   entrada do corpo {
    font-family : herdar;
    tamanho da fonte : herdar;
    altura da linha : herdar;
  }
  
  corpo  um {
    cor :  # 4078c0 ;
    decoração de texto : nenhum;
  }
  
  corpo  a : pairar ,
  corpo  a : ativo {
    decoração de texto : sublinhado;
  }
  
  corpo  forte {
    peso da fonte :  600 ;
  }
  
   hora corporal {
    altura :  0 ;
    margem :  15 px  0 ;
    estouro : oculto;
    fundo : transparente;
    borda :  0 ;
    border-bottom :  1 px solid # ddd ;
  }
  
   hora corporal :: antes {
    exibição : tabela;
    conteúdo :  "" ;
  }
  
   hora corporal :: após {
    exibição : tabela;
    claro : ambos;
    conteúdo :  "" ;
  }
  
   tabela corporal {
    espaçamento entre bordas :  0 ;
    border-collapse : colapso;
  }
  
  corpo  tb ,
  corpo  { _
    preenchimento :  0 ;
  }
  
  corpo  h1 ,
  corpo  h2 ,
  corpo  h3 ,
  corpo  h4 ,
  corpo  h5 ,
  corpo  h6 {
    margem superior :  0 ;
    margem inferior :  0 ;
  }
  
  corpo  h1 {
    tamanho da fonte :  32 px ;
    peso da fonte :  600 ;
  }
  
  corpo  h2 {
    tamanho da fonte :  24 px ;
    peso da fonte :  600 ;
  }
  
  corpo  h3 {
    tamanho da fonte :  20 px ;
    peso da fonte :  600 ;
  }
  
  corpo  h4 {
    tamanho da fonte :  16 px ;
    peso da fonte :  600 ;
  }
  
  corpo  h5 {
    tamanho da fonte :  14 px ;
    peso da fonte :  600 ;
  }
  
  corpo  h6 {
    tamanho da fonte :  12 px ;
    peso da fonte :  600 ;
  }
  
  corpo  p {
    margem superior :  0 ;
    margem inferior :  10 px ;
  }
  
   bloco de citação do corpo {
    margem :  0 ;
  }
  
  corpo  ul ,
  corpo  { _
    padding-esquerda :  0 ;
    margem superior :  0 ;
    margem inferior :  0 ;
  }
  
  corpo  ol  ol ,
  corpo  ul  { _
    tipo de estilo de lista : romano inferior;
  }
  
  corpo  ul  ul  ol ,
  corpo  ul  ol  ol ,
  corpo  ol  ul  ol ,
  corpo  ol  ol  ol {
    tipo de estilo de lista : alfa inferior;
  }
  
  corpo  dd {
    margem esquerda :  0 ;
  }
  
   código do corpo {
    font-family : Consolas ,  "Liberation Mono" , Menlo , Courier , monospace;
    tamanho da fonte :  12 px ;
  }
  
  corpo  pré {
    margem superior :  0 ;
    margem inferior :  0 ;
    fonte :  12 px Consolas ,  "Liberation Mono" , Menlo , Courier , monospace;
  }
  
  corpo . octicon {
    vertical-align : text-bottom;
  }
  
   entrada do corpo {
    -webkit-font-feature-settings :  "liga"  0 ;
    configurações de recursos de fonte :  "liga"  0 ;
  }
  
  corpo :: antes {
    exibição : tabela;
    conteúdo :  "" ;
  }
  
  corpo :: depois {
    exibição : tabela;
    claro : ambos;
    conteúdo :  "" ;
  }
  
  corpo > * : primogênito {
    margin-top :  0  !important ;
  }
  
  corpo > * : último filho {
    margin-bottom :  0  !important ;
  }
  
  corpo  a : não ([ href ]) {
    cor : herdar;
    decoração de texto : nenhum;
  }
  
  corpo . âncora {
    flutuar : esquerda;
    padding-right :  4 px ;
    margem esquerda :  -20 px ;
    altura da linha :  1 ;
  }
  
  corpo . âncora : foco {
    contorno : nenhum;
  }
  
  corpo  p ,
   citação de corpo ,
  corpo  ul ,
  corpo  , _
  corpo  dl ,
   mesa de corpo ,
  corpo  pré {
    margem superior :  0 ;
    margem inferior :  16 px ;
  }
  
   hora corporal {
    altura :  0,25 cm ;
    preenchimento :  0 ;
    margem :  24 px  0 ;
    cor de fundo :  # e7e7e7 ;
    borda :  0 ;
  }
  
   bloco de citação do corpo {
    preenchimento :  0  1 em ;
    cor :  # 777 ;
    borda-esquerda :  0,25 em solid # ddd ;
  }
  
   citação em bloco do corpo > : primogênito {
    margem superior :  0 ;
  }
  
   frase de bloco do corpo > : último filho {
    margem inferior :  0 ;
  }
  
  corpo  kbd {
    exibição : bloco em linha;
    preenchimento :  3 px  5 px ;
    tamanho da fonte :  11 px ;
    altura da linha :  10 px ;
    cor :  # 555 ;
    alinhamento vertical : meio;
    cor de fundo :  # fcfcfc ;
    borda : sólido 1 px  # ccc ;
    border-bottom-color :  # bbb ;
    raio da borda :  3 px ;
    box-shadow : inserir 0  -1 px  0  # bbb ;
  }
  
  corpo  h1 ,
  corpo  h2 ,
  corpo  h3 ,
  corpo  h4 ,
  corpo  h5 ,
  corpo  h6 {
    margem superior :  24 px ;
    margem inferior :  16 px ;
    peso da fonte :  600 ;
    altura da linha :  1,25 ;
  }
  
  corpo  h1 . octicon-link ,
  corpo  h2 . octicon-link ,
  corpo  h3 . octicon-link ,
  corpo  h4 . octicon-link ,
  corpo  h5 . octicon-link ,
  corpo  h6 . link octicon {
    cor :  # 000 ;
    alinhamento vertical : meio;
    visibilidade : oculto;
  }
  
  corpo  h1 : pairar . âncora ,
  corpo  h2 : pairar . âncora ,
  corpo  h3 : pairar . âncora ,
  corpo  h4 : pairar . âncora ,
  corpo  h5 : pairar . âncora ,
  corpo  h6 : pairar . âncora {
    decoração de texto : nenhum;
  }
  
  corpo  h1 : pairar . âncora . octicon-link ,
  corpo  h2 : pairar . âncora . octicon-link ,
  corpo  h3 : pairar . âncora . octicon-link ,
  corpo  h4 : pairar . âncora . octicon-link ,
  corpo  h5 : pairar . âncora . octicon-link ,
  corpo  h6 : pairar . âncora . link octicon {
    visibilidade : visível;
  }
  
  corpo  h1 {
    padding-bottom :  0,3 em ;
    tamanho da fonte :  2 em ;
    border-bottom :  1 px solid # eee ;
  }
  
  corpo  h2 {
    padding-bottom :  0,3 em ;
    tamanho da fonte :  1,5 em ;
    border-bottom :  1 px solid # eee ;
  }
  
  corpo  h3 {
    tamanho da fonte :  1,25 em ;
  }
  
  corpo  h4 {
    tamanho da fonte :  1 em ;
  }
  
  corpo  h5 {
    tamanho da fonte :  0,875 em ;
  }
  
  corpo  h6 {
    tamanho da fonte :  0,85 em ;
    cor :  # 777 ;
  }
  
  corpo  ul ,
  corpo  { _
    padding-left :  2 em ;
  }
  
  corpo  ul  ul ,
  corpo  ul  ol ,
  corpo  ol  ol ,
  corpo  ol  ul {
    margem superior :  0 ;
    margem inferior :  0 ;
  }
  
  corpo  li > p {
    margem superior :  16 px ;
  }
  
  corpo  li + li {
    margem superior :  0,25 em ;
  }
  
  corpo  dl {
    preenchimento :  0 ;
  }
  
  corpo  dl  dt {
    preenchimento :  0 ;
    margem superior :  16 px ;
    tamanho da fonte :  1 em ;
    estilo da fonte : itálico;
    peso da fonte : negrito;
  }
  
  corpo  dl  dd {
    preenchimento :  0  16 px ;
    margem inferior :  16 px ;
  }
  
   tabela corporal {
    exibição : bloco;
    largura :  100 % ;
    estouro : automático;
  }
  
   tabela  corporal th {
    peso da fonte : negrito;
  }
  
   mesa  de corpo th ,
   tabela  de corpo td {
    preenchimento :  6 px  13 px ;
    borda :  1 px sólido #ddd ; _
  }
  
   tabela  de corpo tr {
    cor de fundo :  # fff ;
    borda superior :  1 px sólido # ccc ;
  }
  
   tabela  do corpo tr : enésimo-filho ( 2 n ) {
    cor de fundo :  # f8f8f8 ;
  }
  
   imagem corporal {
    largura máxima :  100 % ;
    tamanho da caixa : caixa de conteúdo;
    cor de fundo :  # fff ;
  }
  
   código do corpo {
    preenchimento :  0 ;
    padding-top :  0,2 em ;
    padding-bottom :  0,2 em ;
    margem :  0 ;
    tamanho da fonte :  85 % ;
    cor de fundo :  rgba ( 0 , 0 , 0 , 0.04 );
    raio da borda :  3 px ;
  }
  
   código do corpo :: antes ,
   código do corpo :: após {
    espaçamento entre letras :  -0,2 em ;
    conteúdo :  "\00a0" ;
  }
  
  corpo  pré {
    quebra automática de linha : normal;
  }
  
  corpo  pré > código {
    preenchimento :  0 ;
    margem :  0 ;
    tamanho da fonte :  100 % ;
    quebra de palavra : normal;
    espaço em branco : pré;
    fundo : transparente;
    borda :  0 ;
  }
  
  corpo . destacar {
    margem inferior :  16 px ;
  }
  
  corpo . destaque  pré {
    margem inferior :  0 ;
    quebra de palavra : normal;
  }
  
  corpo . destaque  pré ,
  corpo  pré {
    preenchimento :  16 px ;
    estouro : automático;
    tamanho da fonte :  85 % ;
    altura da linha :  1,45 ;
    cor de fundo :  # f7f7f7 ;
    raio da borda :  3 px ;
  }
  
  corpo  pré-  código {
    exibição : em linha;
    largura máxima : automática;
    preenchimento :  0 ;
    margem :  0 ;
    estouro : visível;
    altura da linha : herdar;
    quebra automática de linha : normal;
    cor de fundo : transparente;
    borda :  0 ;
  }
  
   pré-  código do corpo :: antes ,
  corpo  pré-  código :: após {
    conteúdo : normal;
  }
  
  corpo . pl-0 {
    padding-left :  0  !important ;
  }
  
  corpo . pl-1 {
    padding-left :  3 px  !important ;
  }
  
  corpo . pl-2 {
    padding-left :  6 px  !important ;
  }
  
  corpo . pl-3 {
    padding-left :  12 px  !important ;
  }
  
  corpo . pl-4 {
    padding-left :  24 px  !important ;
  }
  
  corpo . pl-5 {
    padding-left :  36 px  !important ;
  }
  
  corpo . pl-6 {
    padding-left :  48 px  !important ;
  }
  
  corpo . full-commit . btn-outline : não ( : desativado ) : passe o mouse {
    cor :  # 4078c0 ;
    borda :  1 px sólido # 4078c0 ;
  }
  
  corpo  kbd {
    exibição : bloco em linha;
    preenchimento :  3 px  5 px ;
    fonte :  11 px Consolas ,  "Liberation Mono" , Menlo , Courier , monospace;
    altura da linha :  10 px ;
    cor :  # 555 ;
    alinhamento vertical : meio;
    cor de fundo :  # fcfcfc ;
    borda : sólido 1 px  # ccc ;
    border-bottom-color :  # bbb ;
    raio da borda :  3 px ;
    box-shadow : inserir 0  -1 px  0  # bbb ;
  }
  
  corpo  : verificado + . rótulo de rádio {
    posição : relativa;
    índice z :  1 ;
    cor da borda :  # 4078c0 ;
  }
  
  corpo . item da lista de tarefas {
    tipo de estilo de lista : nenhum;
  }
  
  corpo . item da lista de tarefas + . item da lista de tarefas {
    margem superior :  3 px ;
  }
  
  corpo . entrada do item da lista de tarefas  {
    margem :  0  0,2 em  0,25 em  -1,6 em ;
    alinhamento vertical : meio;
  }
  
   hora corporal {
    border-bottom-color :  # eee ;
  }
  
  #miTable {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 0%;
  }
  
  #miTable td, #miTable th {
    border: 1px solid #ddd;
    padding:3px;
  }
  
  #miTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #miTable tr:hover {background-color: #ddd;}
  
  #miTable th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    background-color: Grey;
    color: white;
  }