
/*<!-- title="Implementação de tree view usando css" -->
<style>*/

/* Treeview-xhtml.cc body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */

/*     ul,
    #treeUL {
      list-style-type: none;
    }

    #treeUL {
      margin: 0;
      padding: 0;
    }
*/
.rootTree {
    cursor: pointer;
    user-select: none;  
    font-weight: bold;
    color: blue;
  }
  .rootTree::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .rootTree-down::before {
    transform: rotate(90deg);
  }
  
  .children {
    display: none;
  }

  .active {
    background-color:white;
    color:green;    
    font-style: italic;
    display: block; 
  }
  
  /*</style>*/
  